@import "../../common/variables";


.userProfileSection {
  position: relative;
  box-shadow: $box-shadow;
  background-color: $section-bg-color;
  padding: 28px;
  display: flex;
}

.userAvatarContainer {
  padding-right: 16px;
  border-right: 2px solid #7E8CA8;
  .userAvatar {
    width: 117px;
    height: 117px;
    border-radius: 50%;
    @extend %backgroundImage;
  }
}

.userDataForm {
  position: relative;
  padding-left: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .userFormDataItem{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    margin-bottom: 6px;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #7E8CA8;

    span {
      margin-bottom: 5px;
    }

    input {
      font-family: $font-inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      text-align: left;
      border: 1px solid #7E8CA8;
      padding: 5px 5px 5px 0;
      width: 100%;
    }
    input:disabled {
      border: 1px solid transparent;
    }
    &:nth-child(4){
      grid-column: span 2;
    }
  }

  .visiblePasswordButton {
    position: absolute;
    right: 10%;
    top: 53%;
    width: 20px;
    height: 20px;
    background-image: url('../../images/main/visible.png');
    @extend %backgroundImage;
    cursor: pointer;
  }

  .userFormSubmitButton {
    @extend %center;
    position: absolute;
    cursor: pointer;
    right: 150px;
    bottom: 3px;
    padding: 10px;
    border: 1px solid #7E8CA8;
    border-radius: 10px;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    background-color: #ECECEC
  }
}

.sharedInformButtonFormSection {
  position: absolute;
  right: 30px;
  top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.errorText {
  color: red;
}
