@import "../variables";

.headerContainer {
 @extend %center;
  padding: 0 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  background-color: $primary-bg-color;
  z-index: 2;
  box-shadow: $box-shadow;
  border-radius: 5px;
  height: 4rem;
}

.logo {
  width: 143.06px;
  height: 35.83px;
  background-image: url('../../images/logo.svg');
  @extend %backgroundImage;
  cursor: pointer;
}

.headerMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prevButton {
  cursor: pointer;
  margin-left: 20px;
  border-left: 1px solid #001C54;
  @extend %center;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;

  .prevButtonArrow {
    margin: 0 10px;
    width: 10px;
    height: 10px;
    background-image: url('../../images/header/prevArrowIcon.svg');
    @extend %backgroundImage
  }
}

.dateInfo {
  user-select: none;
  @extend %center;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #001C54;
  opacity: 50%;
  span:nth-child(1) {
    margin-right: 10px;
  }
}

.userNotification {
  @extend %center;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;

  .notificationButton {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url('../../images/header/notificationIcon.svg');
    @extend %backgroundImage;
  }

  .userShortInfo {
    @extend %center;
    user-select: none;

    .userAvatar {
      margin: 0 10px 0 17px;
      width: 36px;
      height: 36px;
      @extend %backgroundImage;
      border-radius: 50%;
    }
  }
}

.userBalance {
  cursor: pointer;
  width: 126px;
  height: 38px;
  padding: 15px;
  @extend %center;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  opacity: 50%;
  background-color: #ECECEC;

  .basket {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url('../../images/header/basketIcon.svg');
    @extend %backgroundImage;
  }
}








