@import "../variables";

.layoutContainer {
  //@extend %backgroundImage;
  //background-image: url('../../images/main-background.png');
  margin: 0;
  position: relative;
  display: flex;
  height: 100vh;
}