//++++++++++++++++++++++++++++++++++++
@import "../../common/variables";

.accordionSectionContainer {
  @extend %container;
  min-height: 350px;
  position: relative;
  padding: 28px;
}

.sectionSettingsButtons {
  display: flex;
  position: absolute;
  right: 28px;
  top: 18px;
}

.sharedOpenButtonAccordionSection {
  display: flex;
  span {
    display: none;
  }
}

.sharedInformButtonAccordionSection {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;

}

.accordionItemTitle {
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  color: #001C54;
  border-bottom: 2px solid #7E8CA8;
  padding-bottom: 16px;
}

.subItemList {
  @extend %center;
  flex-direction: column;
}

.subItem {
  position: relative;
  width: 97%;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  border-bottom: 1px solid #7E8CA8;
  padding: 8px 30px;
  &::before {
    content: ' ';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    top: 40%;
    left: 10px;
  }
}
//++++++++++++++++++++++++++++++++++++

$transition: 0.15s;
$color-darkness: rgba(31, 32, 41, 1); /* #1f2029 */

.Accordion {
  $this: &;


  //&-Header {
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //  height: 32px;
  //  padding: 7px 15px 7px 0;
  //  background-color: white;
  //  border-bottom: 1px solid red;
  //  transition: all $transition ease;
  //
  //  &:hover {
  //    cursor: pointer;
  //  }
  //
  //  &:last-child {
  //    margin-top: 0;
  //  }
  //
  //  &Icon {
  //    svg {
  //      transition: all $transition ease;
  //      width: 16px;
  //      height: 10px;
  //    }
  //  }
  //}

  &-ContentWrapper {
    &-enter {
      opacity: 0;
      overflow: hidden;
      max-height: 0;
    }

    &-enter-active {
      opacity: 1;
      max-height: var(--content-height);
      transition: opacity $transition, max-height $transition cubic-bezier(0, 1, 0, 1);
    }

    &-exit {
      opacity: 1;
      max-height: var(--content-height);
    }

    &-exit-active {
      overflow: hidden;
      opacity: 0;
      max-height: 0;
      transition: opacity $transition, max-height $transition cubic-bezier(0, 1, 0, 1);
    }
  }

  &-Content {
    list-style: none;
  }
}

//.theme-dark {
//  .Accordion {
//    &-Header {
//      background-color: $color-darkness;
//    }
//
//    &-Content {
//      background-color: $color-darkness;
//    }
//  }
//}


