* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}


main {
  width: 100%;
  height: 100%;
}


//.itemContainerTest {
//  width: 100%;
//  display: grid;
//  grid-template-columns: repeat(3, 1fr);
//  gap: 10px; /* Gap between grid items */
//}
//
//.Item {
//  background-color: #ccc; /* Just for visualization */
//  padding: 10px;
//  text-align: center;
//}
//
//.item_4 {
//  grid-column: span 2; /* Make the first element in the second row span 2 columns */
//}